%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Description
      %th Type
      %th Life cycle
      %th
      %th
      %th

  %tbody
    - @posts.each do |post| 
      %tr
        %td= post.title 
        %td= post.description 
        %td= post.type
        %td= post.life_cycle 
        - if can? :read, @post 
          %td= link_to 'Show', post 
        - if can? :update, @post 
          %td= link_to 'Edit', edit_post_path(post) 
        - if can? :destroy, @post
          %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } 

%br

- if can? :create, @post 
  = link_to 'New Post', new_post_path 
