<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Type</th>
      <th>Life cycle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <td><%= post.type %></td>
        <td><%= post.life_cycle %></td>
        <% if can? :read, @post %>
          <td><%= link_to 'Show', post %></td>
        <% end %>
        <% if can? :update, @post %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% end %>
        <% if can? :destroy, @post %>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @post %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
