%div.container-fluid
  %div.row-fluid
    %div.span3
      %div.well.sidebar-nav
        %ul.nav.nav-list
          %li.nav-header Posts
          - if current_user.role.user? 
            %li= link_to "Create post", new_post_path
          %li.active= link_to "All posts", profile_all_posts_path
          %li= link_to "Draft", profile_draft_path
          %li= link_to "New posts", profile_new_posts_path
          %li= link_to "Publish", profile_publish_path
          %li= link_to "Archive", profile_archive_path
          %li.nav-header My profile
          %li= link_to "Edit profile", edit_user_registration_path
    %div.span9
      %div.row-fluid
        - @posts.each do |post|
          %div.span4
            %h2= link_to post.title, post 
            - if post.images.count > 0
              = image_tag post.images[0].picture.url(:thumb)
            %p= post.description
            %p
  %center= will_paginate @posts
%hr
%footer
  %p &copy; TZ 2014